{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":600,"scrollleft":0,"selection":{"start":{"row":72,"column":15},"end":{"row":72,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":41,"state":"start","mode":"ace/mode/text"}},"hash":"5912b0fec0474650f6613218d1115174fdb91884","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":72,"column":9},"end":{"row":72,"column":15},"action":"remove","lines":["19.2.1"],"id":39},{"start":{"row":72,"column":9},"end":{"row":72,"column":15},"action":"insert","lines":["19.7.0"]}]]},"timestamp":1566829015126}