{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":6,"column":15},"end":{"row":6,"column":16},"action":"remove","lines":["3"],"id":12}],[{"start":{"row":6,"column":15},"end":{"row":6,"column":16},"action":"insert","lines":["4"],"id":13}],[{"start":{"row":6,"column":15},"end":{"row":6,"column":16},"action":"remove","lines":["4"],"id":14}],[{"start":{"row":6,"column":15},"end":{"row":6,"column":16},"action":"insert","lines":["3"],"id":15}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":16},"end":{"row":6,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563912193415,"hash":"59fd4a3580fd846839942ac930de15c98ed9efa4"}