html, body {
  max-width: 100%;
  background-color: #fffdd0 !important;
  overflow-x: hidden; }

.jumbotron {
  width: 45%;
  margin-left: 25%; }
  @media (max-width: 730px) {
    .jumbotron {
      width: 75% !important;
      margin-left: 12% !important; } }
  @media (min-width: 731px) and (max-width: 991px) {
    .jumbotron {
      width: 65%;
      margin-left: 15%;
      padding: 7rem 2rem !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .margin {
    margin-top: 1%;
    margin-bottom: 1%; } }

.input1 {
  width: 75%; }

.card {
  width: 200px;
  height: 200px;
  margin: 10px; }
  @media (max-width: 730px) {
    .card {
      margin-left: 20%; } }

.icons {
  display: inline;
  padding-left: 5%;
  width: 50%; }
  @media (max-width: 730px) {
    .icons {
      display: inline;
      padding-left: 5%;
      width: 10%; } }
  @media (min-width: 731px) and (max-width: 991px) {
    .icons {
      display: inline;
      width: 20%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .icons {
      display: inline;
      padding-left: 1%;
      width: 30%; } }

.copyright {
  padding-left: 5%; }
  @media (max-width: 730px) {
    .copyright {
      padding-left: 20%; } }

.ul {
  margin-left: 25%;
  width: 15%; }
  @media (max-width: 730px) {
    .ul {
      width: 100%;
      margin-left: 0%; } }
  @media (min-width: 731px) and (max-width: 991px) {
    .ul {
      width: 50%;
      margin-left: 0px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ul {
      width: 50%;
      margin-left: 0px; } }

@media (max-width: 730px) {
  .ul1 {
    margin-top: 1rem !important; } }

.ul2 {
  list-style-type: square; }

@media (min-width: 731px) and (max-width: 991px) {
  .scroll {
    display: block;
    height: 740px;
    overflow: auto; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .scroll {
    display: block;
    height: 450px;
    overflow: auto; } }

.padding-l2 {
  padding-left: 6%; }

@media (min-width: 1200px) {
  .background1 {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeQn8R6KAsUD23P2bHR5RdKYoeGCqYznAzZBFPt5KlD00pgZLq") no-repeat center;
    background-size: cover;
    background-size: 100%;
    height: 200px;
    position: relative;
    padding-top: 110px; } }

@media (min-width: 1200px) {
  .background2 {
    background: url("https://image.shutterstock.com/image-photo/brown-scratched-wooden-cutting-board-260nw-582026461.jpg") center;
    background-size: 100%; } }

.index-text {
  text-align: center;
  position: absolute;
  color: white; }

.padding1 {
  padding-left: 18%; }
  @media (max-width: 730px) {
    .padding1 {
      padding-left: 0%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .padding1 {
      padding-left: 27%; } }

.button1 {
  width: 50%; }
  @media (max-width: 730px) {
    .button1 {
      margin-left: 20%; } }

.btn {
  margin-top: 2%;
  margin-bottom: 2%; }

.pagination {
  display: inline-block; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd; }

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50; }

.pagination a:hover:not(.active) {
  background-color: #ddd; }

.margin1 {
  padding-left: 20%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .margin1 {
      padding-left: 10%; } }

form {
  margin-left: 5%;
  padding-bottom: 10%;
  width: 100%; }

.jumbo1 {
  margin-top: 2rem; }
  @media (min-width: 731px) and (max-width: 991px) {
    .jumbo1 {
      margin-top: 6rem;
      margin-bottom: 6rem !important; } }

@media (max-width: 730px) {
  .container {
    margin-bottom: 10px !important; } }
@media (min-width: 731px) and (max-width: 991px) {
  .container {
    margin-bottom: 80px !important;
    margin-top: 5%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    margin-bottom: 80px !important; } }

.container1 {
  margin: 0; }
  @media (min-width: 1200px) {
    .container1 {
      max-width: 100% !important;
      margin-top: 64px !important; } }

@media (max-width: 730px) {
  .container2 {
    width: 50%;
    height: 50%; } }
@media (min-width: 731px) and (max-width: 991px) {
  .container2 {
    width: 50%;
    height: 50%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container2 {
    width: 50%;
    height: 50%; } }
@media (min-width: 1200px) {
  .container2 {
    margin-bottom: 30px !important; } }

li {
  font-size: 20px; }

@media (min-width: 731px) and (max-width: 991px) {
  .footer {
    margin-bottom: 27% !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .footer {
    margin-bottom: 80px !important; } }

footer {
  height: 100px; }

.padding-r1 {
  padding-right: 20px; }

.padding-l1 {
  padding-left: 40px; }
  @media (max-width: 730px) {
    .padding-l1 {
      padding-left: 0%;
      margin-top: 5%; } }
  @media (min-width: 731px) and (max-width: 991px) {
    .padding-l1 {
      margin-top: 5%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .padding-l1 {
      margin-top: 5%; } }
  @media (min-width: 1200px) {
    .padding-l1 {
      padding-left: 20%;
      margin-top: 5%; } }

@media (min-width: 1200px) {
  .padding-l3 {
    padding-left: 20%;
    padding-bottom: 1.6%; } }

@media (min-width: 731px) and (max-width: 991px) {
  p {
    font-size: 20px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  p {
    font-size: 15px; } }

@media (max-width: 730px) {
  .p1 {
    width: 90%;
    padding-left: 10%; } }
@media (min-width: 731px) and (max-width: 991px) {
  .p1 {
    width: 90%;
    padding-left: 10%;
    font-size: 20px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .p1 {
    width: 75%;
    padding-left: 25%; } }
@media (min-width: 1200px) {
  .p1 {
    padding-top: 10%;
    font-weight: bold;
    width: 75%;
    font-size: 16px;
    word-wrap: break-word;
    padding-left: 20%;
    margin-left: 3%; } }

.p2 {
  padding-top: 5%; }
  @media (max-width: 730px) {
    .p2 {
      padding-top: 5%; } }
  @media (min-width: 731px) and (max-width: 991px) {
    .p2 {
      padding-top: 5%; } }

.mrg-btm1 {
  margin-bottom: 20%; }

@media (min-width: 1200px) {
  .input {
    background-color: white !important; } }

@media (max-width: 730px) {
  .p3 {
    width: 90%;
    padding-left: 10%; } }
@media (min-width: 731px) and (max-width: 991px) {
  .p3 {
    width: 90%;
    padding-left: 10%;
    font-size: 20px; } }
@media (min-width: 1200px) {
  .p3 {
    padding-top: 10%;
    font-weight: bold;
    width: 75%;
    font-size: 16px;
    word-wrap: break-word;
    padding-left: 20%;
    margin-left: 3%; } }

.p4 {
  padding-top: 5%; }
  @media (max-width: 730px) {
    .p4 {
      padding-top: 5%; } }
  @media (min-width: 731px) and (max-width: 991px) {
    .p4 {
      padding-top: 5%; } }

@media (max-width: 730px) {
  img {
    width: 300px;
    height: 250px; } }
@media (min-width: 731px) and (max-width: 991px) {
  img {
    width: 300px;
    height: 200px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  img {
    width: 400px;
    height: 200px; } }

@media (min-width: 731px) and (max-width: 991px) {
  .img1 {
    width: 400px;
    height: 200px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .img1 {
    width: 400px;
    height: 200px; } }

@media (max-width: 730px) {
  .row {
    margin-bottom: 0px !important; } }
@media (min-width: 731px) and (max-width: 991px) {
  .row {
    margin-top: 0px !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .row {
    margin-bottom: 0px !important; } }

/*# sourceMappingURL=main.css.map */
