<!--this page is a template that adds the navbar and footer to all pages-->
<!DOCTYPE html>
<html>
<!-- The head part of this page contains all the links that are used on all pages-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="refresh" content="60">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Lato:700i|Open+Sans:400i" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='scss/main/main.css' )}}" type="text/css" />




  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<!--The body contains the navbar and all the scripts that are used in my site.-->
<body id="page-top">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="mainNav">
      <div>Happy Baker's</div>
      <div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">home</a></li>
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('recipes')}}">Recipes</a></li>
          <!--This if statement is used to display what user is logged into the site. If there is a user logged in it displays there name in the nav bar which also becomes the link to the userpage.-->
          {% if session %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('users')}}">{{ session['name'] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif %}
        </ul>
    
        <ul class="side-nav" id="mobile-demo">
          {% if session %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('users')}}">{{ session['name'] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif %}
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">home</a></li>
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('recipes')}}">Recipes</a></li>
        </ul>
      </div>
    </nav>
  </header>
  {% block content %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible();
        $('select').material_select();
        $(".button-collapse").sideNav();
    });

    document.getElementById("matfix").addEventListener("click", function(e) {
        e.stopPropagation();
    });
</script>
  <script type="text/javascript">
        var counter = 2;
        var limit = 25;

        function addRecipe(recName) {
            if (counter == 0) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient2' name='ingredient2' type='text'><label for='icon_telephone'>Ingredient</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 1) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient3' name='ingredient3' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 2) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient4' name='ingredient4' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 3) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient5' name='ingredient5' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 4) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient6' name='ingredient6' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 5) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient8' name='ingredient8' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 6) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient9' name='ingredient9' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 7) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient7' name='ingredient7' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 8) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient8' name='ingredient8' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 9) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient9' name='ingredient9' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 10) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredient10' name='ingredient10' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 11) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien11' name='ingredient11' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 12) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien12' name='ingredient12' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 13) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien13' name='ingredient13' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 13) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien13' name='ingredient13' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 14) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien14' name='ingredient14' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 15) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien15' name='ingredient15' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 16) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien16' name='ingredient16' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 17) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien17' name='ingredient17' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 18) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien18' name='ingredient18' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 19) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien19' name='ingredient19' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 20) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien20' name='ingredient20' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 21) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien21' name='ingredient21' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 22) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien22' name='ingredient22' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 23) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien23' name='ingredient23' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 24) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input id='ingredien24' name='ingredient24' type='text'><label for='icon_telephone'>Ingredient </label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else {
                if (counter == limit) {
                    alert("You have reached the limit of adding " + counter + " inputs");
                }
            }
        }
        
    </script>
  <script type="text/javascript">
        var instruction = 0;
        var max = 12;

        function addInstruction(instName) {
            if (instruction == 0) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction2' id='instruction2' type='text'><label for='icon_telephone'>Instruction2</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 1) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction3' id='instruction3' type='text'><label for='icon_telephone'>Instruction3</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 2) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction4' id='instruction4' type='text'><label for='icon_telephone'>Instruction4</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 3) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction5' id='instruction5' type='text'><label for='icon_telephone'>Instruction5</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 4) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction6' id='instruction6' type='text'><label for='icon_telephone'>Instruction6</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 5) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction7' id='instruction7' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 6) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction8' id='instruction8' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 7) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction9' id='instruction9' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 8) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction10' id='instruction10' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 9) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction11' id='instruction11' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 10) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction12' id='instruction12' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 11) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction13' id='instruction13' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else if (instruction == 12) {
                var newinstruction = document.createElement('div');
                newinstruction.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>library_add</i><input name='instruction14' id='instruction14' type='text'><label for='icon_telephone'>Instruction7</label><div id='DynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newinstruction);
                instruction++;
            }
            else {
                if (instruction == max) {
                    alert("You have reached the limit of adding " + counter + " inputs");
                }
            }
        }
    </script>
  <script type="text/javascript">
      var slideIndex = 0;
      showSlides();
    
      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 10000); // Change image every 2 seconds
      }
    </script>
    

</body>
<!--This footer is a simple one. Containing only three links which allow the user to view my linkedin, twitter and github pages.-->
<footer class="py-4 bg-dark text-white-50 ">
  <div class="row">
    <div class="copyright text-left">
        <ul>
            <li class="li">© 2019 - Developed by Daniel Hayes</li>
        </ul>
    </div>
    <div class="ul">
      <ul class=" list-inline social-link s-links text-center">
        <li class="icons">Follow us at: </li>
        <li class="icons"><a target="_blank" href="https://github.com/Danhayes3008" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
        <li class="icons"><a target="_blank" href="https://www.linkedin.com/in/daniel-hayes-90050b189/" target="_blank"><i class="fa fa-linkedin" style="font-size:26px"></i></a></li>
        <li class="icons"><a target="_blank" href="https://twitter.com/Danielh92665897" target="_blank"><i class="fa fa-twitter" style="font-size:26px"></i></a></li>
      </ul>
    </div>
  </div>

</footer>
</html>