<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='scss/main/main.css' )}}" type="text/css" />



  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/scrolling-nav.css')}}" rel="stylesheet">
</head>

<body id="page-top">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div>Happy Baker's</div>
      <div class="nav-wrapper">
        <!--<a href="" class="brand-logo">Task Manager</a>-->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">home</a></li>
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('recipes')}}">Recipes</a></li>
          {% if session %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('users')}}">{{ session['name'] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif %}
        </ul>
    
        <ul class="side-nav" id="mobile-demo">
          {% if session %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('users')}}">{{ session['name'] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif %}
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">home</a></li>
          <li><a class="nav-link js-scroll-trigger" href="{{url_for('recipes')}}">Recipes</a></li>
        </ul>
      </div>
    </nav>
  </header>
  {% block content %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.collapsible').collapsible();
      $('select').material_select();
      $(".button-collapse").sideNav();
    });
    
    document.getElementById("matfix").addEventListener("click", function(e) {
            e.stopPropagation();
        });
  </script>
  <script type="text/javascript">
        var counter = 0;
        var limit = 6;

        function addRecipe(recName) {
            if (counter == 0) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><input name='ingredient' id='ingredient'><label for='icon_telephone'>Ingredient 1</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 1) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><input name='ingredient' id='ingredient'><label for='icon_telephone'>Ingredient 3</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 2) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><input name='ingredient' id='ingredient'><label for='icon_telephone'>Ingredient 4</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 3) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><input name='ingredient' id='ingredient'><label for='icon_telephone'>Ingredient 5</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 4) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><input name='ingredient' id='ingredient'><label for='icon_telephone'>Ingredient 6</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 5) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><input name='ingredient' id='ingredient'><label for='icon_telephone'>Ingredient 7</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(recName).appendChild(newdiv);
                counter++;
            }
            else {
                if (counter == limit) {
                    alert("You have reached the limit of adding " + counter + " inputs");
                }
            }
        }
        function addInstruction(instName) {
            if (counter == 0) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Instruction " + (counter + 1) + "<br><div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><textarea name='Instruction' id='Instruction' class='materialize-textarea'></textarea><label for='icon_telephone'>Ingredients</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 1) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Ingredients " + (counter + 1) + "<br><div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><textarea name='Instruction1' id='Instruction1' class='materialize-textarea'></textarea><label for='icon_telephone'>Ingredients</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 2) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Instruction " + (counter + 1) + "<br><div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><textarea name='Instruction2' id='Instruction2' class='materialize-textarea'></textarea><label for='icon_telephone'>Ingredients</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 3) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Instruction " + (counter + 1) + "<br><div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><textarea name='Instruction3' id='Instruction3' class='materialize-textarea'></textarea><label for='icon_telephone'>Ingredients</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 4) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Instruction " + (counter + 1) + "<br><div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><textarea name='Instruction4' id='Instruction4' class='materialize-textarea'></textarea><label for='icon_telephone'>Ingredients</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newdiv);
                counter++;
            }
            else if (counter == 5) {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Instruction " + (counter + 1) + "<br><div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><textarea name='Instruction5' id='Instruction5' class='materialize-textarea'></textarea><label for='icon_telephone'>Ingredients</label><div id='dynamicInput'></div></div></div>"
                document.getElementById(instName).appendChild(newdiv);
                counter++;
            }
            else {
                if (counter == limit) {
                    alert("You have reached the limit of adding " + counter + " inputs");
                }
            }
        }
    </script>
    <script type="text/javascript">
        var counter = 1;
        var limit = 5;

        function addInstruction(divPool) {
            if (counter == limit) {
                alert("You have reached the limit of adding " + counter + " inputs");
            }
            else {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = " <br><div class='row'><div class='input-field col s12'><i class='material-icons prefix'>subject</i><textarea name='instruction1' + counter + 'id='instruction1' class='materialize-textarea'></textarea><label for='icon_telephone'>Instruction</label><div id='dynamicInput'></div></div></div>";
                document.getElementById(divPool).appendChild(newdiv);
                counter++;
            }
        }
    </script>
    <script type="text/javascript">
      var slideIndex = 0;
      showSlides();
    
      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 10000); // Change image every 2 seconds
      }
    </script>
    

</body>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
  <div class="row">
    <div class="copyright text-left">© 2018 - Developed by Daniel Hayes</div>
    <div>
      <ul class="list-inline social-link s-links text-center">
        <li>Follow us at: </li>
        <li><a target="_blank" href="https://github.com/Danhayes3008" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/daniel-hayes-90050b189/" target="_blank"><i class="fa fa-linkedin" style="font-size:26px"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/Danielh92665897" target="_blank"><i class="fa fa-twitter" style="font-size:26px"></i></a></li>
      </ul>
    </div>
  </div>

</footer>
</html>