{% extends 'base.html'%} {% block content %}
<div class="container padding-l1">
    <div class="">
        <div>
            <h5><a href="{{ url_for('recipes') }}">Return</a></h5>
        </div>
        <h3>Breads:</h3>
        {% for recipe in recipes %} {% if (recipe.category_name=="Bread") %} {% if (recipe.approval=="yes") %}
        <div class="row margin">
            <img class="" style="width:150px; height:150px;" src="{{recipe.image_url}}"></img>
            <ul class="col s1">
                <li>
                    <h5><a id="recipe" href="{{ url_for('recipespage', recipe_id=recipe._id) }}">{{recipe.name}}</a></h5>
                    <p><strong>subcategory</strong>: {{recipe.subcategory_name}}</p>
                    <p><strong>Description</strong>: {{recipe.description}}</p>
                </li>
            </ul>
        </div>
        {% else %} {% endif %} {% else %} {% endif %} {% endfor %}
    </div>
</div>
{% endblock %}