{% extends 'base.html'%}
{% block content %}
<div class="row">
    <div>
        <h2>Welcome to Happy Baker's</h2>
    </div>
</div>
<div class="row">
    <p>here at Happy Baker's We aim to provide the world with all recipes either profesional,<br />
    or Homemade for all to experiance. As a open site we hope many baking hobbiest's would join use, <br />
    to share with the Work our unique recipes and design's so we can help expand all our fellow members<br />
    cullenary knowlage</p>
</div>
{% endblock %}