{% extends 'base.html'%} {% block content %}
<div class="container container1 background1">
    <div class="row">
        <!--<img src="{{url_for('static', filename='images/bakery.jpg' )}}"></img>-->
        <h2 class="index-text">Welcome to Happy Baker's</h2>
    </div>
</div>
<div class="container">
    <div class="row padding-l1 background2">
        <p class="p1">here at Happy Baker's We aim to provide the world with all recipes either Profesional,
        or Homemade for all to experiance. As a open site we hope many baking hobbiest's would join us,
        to share with the World our unique recipes and design's so we can help expand all our fellow members
        cullenary knowlage and expertise</p>
    </div>
</div>

{% endblock %}