{% extends 'base.html'%} {% block content %}
<h2>Recipes</h2>
<div class="row">
    <div class="col s6">
        <h3>Categories:</h3>
        <input type="checkbox" name="categories" value="all" checked> All Categories<br> {% for cat in categories %} {{cat.category_name}}
        <input type="checkbox"><br /> {% endfor %}
        <h3>Sub-categories:</h3>
        <input type="checkbox" name="subcategory" value="all" checked> All Sub-Categories<br> {% for sub in subcategory %} {{sub.subcategory_name}}
        <input type="checkbox"><br /> {% endfor %}
    </div>
    <div class="col s3">
        <h3>Recipes:</h3>
        {% for recipe in recipes %}
        <blockquote>
            <ul>
                <li>
                    <h5><a href="#">{{recipe.name}}</a></h5>
                    {{recipe.description}}
                </li>
            </ul>
        </blockquote>
        {% endfor %}
    </div>
</div>
{% endblock %}