<!--This page displays each recipe if the correct link was clicked-->
{% extends 'base.html'%} {% block content %}
<div class="container container2 padding-l1">
    <div class="row">
        <!--displays the recipe name-->
        <h3>{{ recipes.name }}</h3>
    </div>
    <hr />
    <div class="background-color mrg2 margin2 row">
        <div>
            <!--displays the recipe image-->
            <img class="mg-l" src="{{recipes.image_url}}"></img>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <!--displays the author name, catorgries and description-->
            <ul class="ul1">
                <li><strong>Author: </strong>{{ recipes.author }}</li>
                <li><strong>Category: </strong>{{ recipes.category_name }}</li>
                <li><strong>Sub-Category: </strong>{{ recipes.subcategory_name }}</li>
                <li><strong>description: </strong>{{ recipes.description }}</li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-12 p4">
            <!--displays the ingredients. Only ingredients that are not empty will be visible-->
            <h4 class="col-sm-12 col-md-12 text-center">Ingredients:</h4>
            <ul>
                <li class="text-center">{{ recipes.ingredient }}</li>
                <li class="text-center">{{ recipes.ingredient1 }}</li>
                <li class="text-center">{{ recipes.ingredient2 }}</li>
                <li class="text-center">{{ recipes.ingredient3 }}</li>
                <li class="text-center">{{ recipes.ingredient4 }}</li>
                <li class="text-center">{{ recipes.ingredient5 }}</li>
                <li class="text-center">{{ recipes.ingredient6 }}</li>
                <li class="text-center">{{ recipes.ingredient7 }}</li>
                <li class="text-center">{{ recipes.ingredient8 }}</li>
                <li class="text-center">{{ recipes.ingredient9 }}</li>
                <li class="text-center">{{ recipes.ingredient10 }}</li>
                <li class="text-center">{{ recipes.ingredient11 }}</li>
                <li class="text-center">{{ recipes.ingredient12 }}</li>
                <li class="text-center">{{ recipes.ingredient13 }}</li>
                <li class="text-center">{{ recipes.ingredient14 }}</li>
                <li class="text-center">{{ recipes.ingredient15 }}</li>
                <li class="text-center">{{ recipes.ingredient16 }}</li>
                <li class="text-center">{{ recipes.ingredient17 }}</li>
                <li class="text-center">{{ recipes.ingredient18 }}</li>
                <li class="text-center">{{ recipes.ingredient19 }}</li>
                <li class="text-center">{{ recipes.ingredient20 }}</li>
                <li class="text-center">{{ recipes.ingredient21 }}</li>
                <li class="text-center">{{ recipes.ingredient22 }}</li>
                <li class="text-center">{{ recipes.ingredient23 }}</li>
                <li class="text-center">{{ recipes.ingredient24 }}</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row width2 background-color col-sm-12">
        <!--displays the nutritional values. If none were entered they display as unknown-->
        <div class="row col-md-12">
            <h4 class="col-sm-12 col-md-12 text-center">Nutritional Value:</h4>
        </div>
        <div class="row col-md-12">
            <card class="padding-r1">
                <p>kcal</p>
                <p class="text-center">{{recipes.kcal}}</p>
            </card>
            <card class="padding-r1">
                <p>fat</p>
                <p class="text-center">{{recipes.fat}}</p>
            </card>
            <card class="padding-r1">
                <p>saturates</p>
                <p class="text-center">{{recipes.saturates}}</p>
            </card>
            <card class="padding-r1">
                <p>carbs</p>
                <p class="text-center">{{recipes.carbs}}</p>
            </card>
            <card class="padding-r1">
                <p>sugars</p>
                <p class="text-center">{{recipes.sugars}}</p>
            </card>
            <card class="padding-r1">
                <p>fibre</p>
                <p class="text-center">{{recipes.fibre}}</p>
            </card>
            <card class="padding-r1">
                <p>protein</p>
                <p class="text-center">{{recipes.protein}}</p>
            </card>
            <card class="padding-r1">
                <p>salt</p>
                <p class="text-center">{{recipes.salt}}</p>
            </card>
        </div>
    </div>
    <hr />
    <div class="row background-color p3">
        <!--displays the instructions for the recipes. instructions that are empty are not visible on the site-->
        <h4 class="col-sm-12 text-center">Instructions:</h4>
        <ul>
            <li class="text-center"><p>{{ recipes.instruction }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction1 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction2 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction3 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction4 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction5 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction6 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction7 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction8 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction9 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction10 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction11 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction12 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction13 }}</p></li><br />
            <li class="text-center"><p>{{ recipes.instruction14 }}</p></li>
        </ul>
    </div>
</div>



{% endblock %}