{% extends 'base.html'%} {% block content %}
<h2>Recipes</h2>
<form>
    <div class="row">
        <div class="col s9">
            <h3>Categories:</h3>
            {% for cat in categories %}
            <input id="{{cat.category_name}}" type="checkbox" value="{{cat.category_name}}" name="{cat.category_name}}">
            <label class="custom-control-label" for="{{cat.category_name}}">{{cat.category_name}}</label><br /> {% endfor %}
            <h3>Sub-categories:</h3>
            {% for sub in subcategory %}
            <input id="{{sub.subcategory_name}}" type="checkbox" name="{{sub.subcategory_name}}" value="{{sub.subcategory_name}}">
            <label for="{{sub.subcategory_name}}">{{sub.subcategory_name}}</label><br /> {% endfor %}
        </div>
</form>
<div class="col s3">
    <h3>Recipes:</h3>
    {% for recipe in recipes %}
    <blockquote>
        <ul>
            <li>
                <h5><a name="recipe" href="#">{{recipe.name}}</a></h5>
                {{recipe.description}}
            </li>
        </ul>
    </blockquote>
    {% endfor %}
</div>
</div>


{% endblock %}