{% extends 'base.html'%} {% block content %}
<div class="row">
    <h1>{{ recipes.name }}</h1>
</div>
<hr />
<div class="row">
    <div class="col s8">
    <img style="width:450px; height:300px;" src="{{recipes.image_url}}"></img>
    </div>
    <div class="col s2">
    <ul>
        <!--<li><h3>{{ recipes.name }}</h3></li>-->
        <li><strong>Category: </strong>{{ recipes.category_name }}</li>
        <li>Sub-Category: {{ recipes.subcategory_name }}</li>
        <li>description: {{ recipes.description }}</li>
    </ul>

    <h4>Ingredients:</h4>
    <ul>
        <li>{{ recipes.ingredient }}</li>
        <li>{{ recipes.ingredient1 }}</li>
        <li>{{ recipes.ingredient2 }}</li>
        <li>{{ recipes.ingredient3 }}</li>
        <li>{{ recipes.ingredient4 }}</li>
        <li>{{ recipes.ingredient5 }}</li>
        <li>{{ recipes.ingredient6 }}</li>
    </ul>
    </div>
</div>
<hr />
<div class="row">
    <h4>Instructions:</h4>
    <ul>
        <li>{{ recipes.instruction }}</li><br />
        <li>{{ recipes.instruction1 }}</li><br />
        <li>{{ recipes.instruction2 }}</li><br />
        <li>{{ recipes.instruction3 }}</li><br />
        <li>{{ recipes.instruction4 }}</li><br />
        <li>{{ recipes.instruction5 }}</li><br />
        <li>{{ recipes.instruction6 }}</li><br />
    </ul>
</div>


{% endblock %}