{% extends 'base.html'%} {% block content %}
<div class="container container2 padding-l1">
    <div class="row">
        <h1>{{ recipes.name }}</h1>
    </div>
    <hr />
    <div class="background-color mrg2 margin2 row">
        <div class="">
            <img src="{{recipes.image_url}}"></img>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <ul class="ul1">
                <li><strong>Author: </strong>{{ recipes.author }}</li>
                <li><strong>Category: </strong>{{ recipes.category_name }}</li>
                <li><strong>Sub-Category: </strong>{{ recipes.subcategory_name }}</li>
                <li><strong>description: </strong>{{ recipes.description }}</li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-12 p4">
            <h4>Ingredients:</h4>
            <ul>
                <li>{{ recipes.ingredient }}</li>
                <li>{{ recipes.ingredient1 }}</li>
                <li>{{ recipes.ingredient2 }}</li>
                <li>{{ recipes.ingredient3 }}</li>
                <li>{{ recipes.ingredient4 }}</li>
                <li>{{ recipes.ingredient5 }}</li>
                <li>{{ recipes.ingredient6 }}</li>
                <li>{{ recipes.ingredient7 }}</li>
                <li>{{ recipes.ingredient8 }}</li>
                <li>{{ recipes.ingredient9 }}</li>
                <li>{{ recipes.ingredient10 }}</li>
                <li>{{ recipes.ingredient11 }}</li>
                <li>{{ recipes.ingredient12 }}</li>
                <li>{{ recipes.ingredient13 }}</li>
                <li>{{ recipes.ingredient14 }}</li>
                <li>{{ recipes.ingredient15 }}</li>
                <li>{{ recipes.ingredient16 }}</li>
                <li>{{ recipes.ingredient17 }}</li>
                <li>{{ recipes.ingredient18 }}</li>
                <li>{{ recipes.ingredient19 }}</li>
                <li>{{ recipes.ingredient20 }}</li>
                <li>{{ recipes.ingredient21 }}</li>
                <li>{{ recipes.ingredient22 }}</li>
                <li>{{ recipes.ingredient23 }}</li>
                <li>{{ recipes.ingredient24 }}</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row width2 background-color col-sm-12">
        <div class="row col-md-4">
            <h4>Nutritional Value:</h4>
        </div>
        <div class="row col-md-9">
            <card class="padding-r1">
                <p>kcal</p>
                <p class="text-center">{{recipes.kcal}}</p>
            </card>
            <card class="padding-r1">
                <p>fat</p>
                <p class="text-center">{{recipes.fat}}</p>
            </card>
            <card class="padding-r1">
                <p>saturates</p>
                <p class="text-center">{{recipes.saturates}}</p>
            </card>
            <card class="padding-r1">
                <p>carbs</p>
                <p class="text-center">{{recipes.carbs}}</p>
            </card>
            <card class="padding-r1">
                <p>sugars</p>
                <p class="text-center">{{recipes.sugars}}</p>
            </card>
            <card class="padding-r1">
                <p>fibre</p>
                <p class="text-center">{{recipes.fibre}}</p>
            </card>
            <card class="padding-r1">
                <p>protein</p>
                <p class="text-center">{{recipes.protein}}</p>
            </card>
            <card class="padding-r1">
                <p>salt</p>
                <p class="text-center">{{recipes.salt}}</p>
            </card>
        </div>
    </div>
    <hr />
    <div class="row background-color p3">
        <h4>Instructions:</h4>
        <ul>
            <li class="text-center"><p>{{ recipes.instruction }}</p></li><br />
            <li class="text-center">{{ recipes.instruction1 }}</li><br />
            <li class="text-center">{{ recipes.instruction2 }}</li><br />
            <li class="text-center">{{ recipes.instruction3 }}</li><br />
            <li class="text-center">{{ recipes.instruction4 }}</li><br />
            <li class="text-center">{{ recipes.instruction5 }}</li><br />
            <li class="text-center">{{ recipes.instruction6 }}</li><br />
            <li class="text-center">{{ recipes.instruction7 }}</li><br />
            <li class="text-center">{{ recipes.instruction8 }}</li><br />
            <li class="text-center">{{ recipes.instruction9 }}</li><br />
            <li class="text-center">{{ recipes.instruction10 }}</li><br />
            <li class="text-center">{{ recipes.instruction11 }}</li><br />
            <li class="text-center">{{ recipes.instruction12 }}</li><br />
            <li class="text-center">{{ recipes.instruction13 }}</li><br />
            <li class="text-center">{{ recipes.instruction14 }}</li><br />
        </ul>
    </div>
</div>



{% endblock %}