{% extends 'base.html'%} {% block content %}
<h1>Hello User</h1>
<div>
    {% if session %}
    <h4>{{ session['name'] }}'s Recipes</h4>
    <ul>
        <li>
            <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn btn_small green">Add recipe</a>
        </li>
    </ul>
    <ul>
        {% for rec in recipes%}
        {% if session['name'] == rec.author %}
        <li>
            <div class="task_header col s5">
                <strong>{{ session['name'] }}</strong>
                <a href="{{ url_for('recipe_name')}}">{{rec.name}}</a>
                <a href="" class="waves-effect waves-light btn btn_small green">Edit</a>
                <a href="" class="waves-effect waves-light btn btn_small red">Delete</a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %} {% endblock %}